@model IEnumerable<CasaDeShows.Models.CasasDeShow>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<div class="container">
<h1>Casas de Show</h1>

<p>
    <a asp-action="Create">Criar Nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Capacidade)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Bandas)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.IngressosDisp)
            </th>
            <th class="text-white">
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th class="text-white">Ações</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.Capacidade)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.Bandas)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.IngressosDisp)
            </td>
            <td class="text-white">
                @Html.DisplayFor(modelItem => item.Local)
            </td>
            <td class="text-white">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
